<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen"/>
    <title>Document</title>
</head>
<body>
    
    <!-- <img class="blue" src="/pexels-francesco-ungaro-998641.jpg"> -->
    <h1 class="bienve">WELCOME PEOPLE</h1>
    <a class="indicenlace" href="/about"><p>ABOUT</p></a><br>
    <a class="indicenlace" href="/figuras"><p>DARTH VADER</p></a>
</body>
</html>